body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url("/static/bg2.jpg") no-repeat center center fixed;
    background-size: cover;
    color: white;
}

/*/* ================= NAVBAR ================= */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.85);
    padding: 15px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    transition: 0.3s ease;
    padding: 8px 12px;
    border-radius: 5px;
}

.navbar a:hover {
    background-color: #c01000;
}

.logo {
    height: 65px;
}

.nav-right {
    display: flex;
    align-items: center;
}

/* ================= PROFILE MENU ================= */

.profile-menu {
    position: relative;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Avatar Image */
.avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
    border: 2px solid white;
    transition: 0.3s;
}

.avatar:hover {
    transform: scale(1.05);
}

/* Email Below Avatar */
.email-below {
    font-size: 12px;
    color: white;
    margin-top: 6px;
    text-align: center;
    max-width: 120px;
    word-break: break-word;
}


/* ================= HERO ================= */

.hero {
    text-align: left;
    margin-top: 120px;
    animation: fadeIn 1.5s ease-in-out;
    font-size: xx-large;
}
/* ================= ANIMATION ================= */

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(30px); }
    to { opacity: 1; transform: translateY(0); }
}


/* ================= FORM ================= */

form {
    background: rgba(0,0,0,0.75);
    padding: 25px;
    width: 320px;
    margin: 60px auto;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.6);
    transition: 0.3s ease;
}

form:hover {
    transform: scale(1.02);
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 6px;
    outline: none;
    transition: 0.3s;
}

input:focus, textarea:focus {
    box-shadow: 0 0 8px #28a745;
}

button {
    padding: 12px;
    width: 100%;
    background: #d73f3f;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s ease;
}

button:hover {
    background: #5cb5ce;
    transform: translateY(-2px);
}

/* ================= VIEW ITEMS TABLE ================= */

.table-container {
    width: 95%;
    margin: 40px auto;
}

.table-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 32px;
    text-shadow: 2px 2px 5px black;
}

.modern-table {
    width: 100%;
    border-collapse: collapse;
    background: rgba(255,255,255,0.95);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    color: black;
}

.modern-table thead {
    background: #222;
    color: white;
}

.modern-table th {
    padding: 12px;
    text-align: center;
}

.desc {
    max-width: 250px;
    word-break: break-word;
}

.modern-table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.modern-table tbody tr:hover {
    background: #f2f2f2;
}

.table-img {
    width: 80px;
    height: 60px;
    object-fit: cover;
    border-radius: 6px;
}

/* Badge */

.badge {
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 12px;
    font-weight: bold;
}

.lost {
    background: #ffe5e5;
    color: #d8000c;
}

.found {
    background: #e6ffe6;
    color: #2e7d32;
}

/* ================= ADMIN DASHBOARD ================= */


.admin-container {
    width: 95%;
    margin: auto;
    overflow-x: auto;
}

.admin-table {
    
    
    table-layout: fixed;   
    width: 100%;
    border-collapse: collapse;
    background: rgba(255,255,255,0.95);
    color: black;
    border-radius: 10px;
    overflow: hidden;
}

.admin-table th {
    background: #111;
    color: white;
    padding: 12px;
    text-align: center;
}

.admin-table td {
    
    vertical-align: middle;
    text-align: center;
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    max-width: 250px;   
}
.desc {
    max-width: 250px;
    word-break: break-word;
}



.admin-table tr:hover {
    background: #f2f2f2;
}

.admin-img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 6px;
}

/* Badges */
.lost-badge {
    background: red;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: bold;
}

.found-badge {
    background: green;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: bold;
}

/* ===== Buttons ===== */

.edit-btn,
.delete-btn {
    display: inline-block;
    min-width: 3cap;              /* equal size look */
    text-align: center;
    padding: 8px 16px;            /* thodu better spacing */
    border-radius: 6px;           /* thodu smooth round */
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    /* transition: background 0.2s ease, transform 0.1s ease; */
}

.edit-btn {
    background: green;
    color: white;
    padding: 8px 12px;
    text-decoration: none;
}

.delete-btn {
    background: red;
    color: white;
    padding: 8px 12px;
    text-decoration: none;
}


/* ================= FOOTER ================= */

.footer {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    text-align: center;
    padding: 3px 5px;
    margin-top: 24%;
}

.copy {
    margin-top: 15px;
    font-size: 13px;
    opacity: 0.7;
}

/* ===== ADMIN EDIT PAGE (Dark Theme) ===== */

.edit-container {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

/* Dark Card */
.edit-form {
    background: rgba(0, 0, 0, 0.75);
    padding: 30px;
    width: 370px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
    color: #f1f1f1;
}

/* Labels */
.edit-form label {
    display: block;
    margin-top: 14px;
    font-weight: 600;
    font-size: 14px;
    color: #ddd;
}

/* Inputs & Textarea */
.edit-form input,
.edit-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border: 1px solid rgba(240, 233, 233, 0.15);
    border-radius: 6px;
    font-size: 14px;
    background : white;
    color: #070606;
    outline: none;
    transition: 0.3s ease;
}

/* Focus Effect */
.edit-form input:focus,
.edit-form textarea:focus {
    border-color: #c01000;
    box-shadow: 0 0 8px rgba(192,16,0,0.7);
}

/* Textarea */
.edit-form textarea {
    height: 100px;
    resize: none;
}

/* Button */
.edit-form button {
    margin-top: 18px;
    padding: 10px;
    width: 100%;
    background: #c01000;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}

.edit-form button:hover {
    background: #8b0000;
}

/* Admin Action Buttons Fix */

.actions {
    display: flex;
    gap: 8px;
}

.actions a {
    text-decoration: none;
}

.edit-btn,
.delete-btn {
    padding: 6px 10px;
    border-radius: 4px;
    color: white;
    font-size: 14px;
}

.edit-btn {
    background: #007bff;
}

.delete-btn {
    background: red;
}


.admin-btn {
    padding: 10px 20px;
    background: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.admin-btn:hover {
    background: gray;
}


